
* { 
  margin: 0; 
  padding: 0; 
  box-sizing: border-box; 
 } 

body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  margin: 0;
  text-align: center;
  padding-bottom: 20px;
}

h2 {font-size: 30px;}

h1 {font-size: 60px;}

.loginSubmit {
  padding-top: 20px;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px
}

.post {
  box-shadow: 0 0 5px grey;
  width: 70vw;
  margin-top: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
 
}

.postContainer {
  display: flex;
  justify-content: center;
 
}

.imgPost {
  width: 250px;
  height: 175px;
}

.imgEdit {
  width: 300px;
  height: 225px;
}

.commentContainer {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  padding-top: 20px;
  padding-bottom: 20px;
}

@media only screen and (max-width: 500px) {
  .commentContainer {
    gap: 5px;
  }
}

.commentPadding {
  padding-right: 5px;
  }

  .allButtonContainer {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
  }

  .postTitle {
    padding-bottom: 20px;
  }

  .pageTitle {
    padding-top: 20px;
    
  }

  .newPostContainer {
    padding-top: 20px;
  }

  textarea {
    width: 70%;
    height: 300px;
    border-radius: 5px;
  }

  .newPostSubmit {
    padding-top: 20px;
  }

  .addImage {
    padding-top: 20px;
  }

  input {
    border-radius: 5px;
     font-size: 18px;
   }

  label {
    font-size: 18px;
    font-weight: bold;
  }
.titleInput {
  width: 70%;
}

.commentTitle {
  padding-top: 30px;
}

.commentCard {
  border-bottom: solid;
  border-width: 0.1px;
  padding-top: 20px;
  text-align: left;
  padding-left: 40px;
}

.deleteCommentContainer {
padding-top: 20px;
padding-bottom: 20px;
}

 .imgEdit {
  padding-top: 20px;
  padding-bottom: 20px;
 } 