* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  margin: 0;
  text-align: center;
  padding-bottom: 20px;
}

h2 {
  font-size: 30px;
}

h1 {
  font-size: 60px;
}

.loginSubmit {
  padding-top: 20px;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px
}

.post {
  width: 100%;
  margin: 0;
  border-bottom: solid;
  border-width: 0.1px;
  padding-top: 30px;
}

.editContainer {
  .post {
    width: 100%;
    margin: 0;
   
    padding-top: 30px;
  }
}

.imgPost {
  width: 150px;
  height: 100px;
}

.imgEdit {
  width: 300px;
  height: 225px;
}

.commentContainer {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  padding-top: 20px;
  padding-bottom: 20px;
}

@media only screen and (max-width: 500px) {
  .commentContainer {
    gap: 5px;
  }
}

.commentPadding {
  padding-right: 5px;
}

.allButtonContainer {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 10px;
}

.postTitle {
  padding-bottom: 20px;
}

.pageTitle {
  padding-top: 20px;
  padding-bottom: 40px;

}

.newPostContainer {
  padding-top: 20px;
}

textarea {
  width: 70%;
  height: 300px;
  border-radius: 5px;
}

.newPostSubmit {
  padding-top: 20px;
}

.addImage {
  padding-top: 20px;
}

input {
  border-radius: 5px;
  font-size: 18px;
}

label {
  font-size: 18px;
  font-weight: bold;
}

.titleInput {
  width: 70%;
  padding-left: 5px;
}

.descriptInput {
 font-size: 18px;
 padding-left: 5px;
 padding-right: 5px;
 padding-top: 5px;
}

.commentTitle {
  padding-top: 30px;
}

.commentCard {
  border-bottom: solid;
  border-width: 0.1px;
  padding-top: 20px;
  text-align: left;
  padding-left: 40px;
}

.deleteCommentContainer {
  padding-top: 20px;
  padding-bottom: 20px;
}

.imgEdit {
  padding-top: 20px;
  padding-bottom: 20px;
}

.descriptionContainer {
  text-align: left;
  margin-left: 20px;
  margin-right: 20px;
}

.productSpan {
  font-weight: bold;
}


.titleContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  padding-bottom: 30px;
}

.submitChanges {
  padding-top: 20px;
}

.editButtonContainer {
  display: flex;
  gap: 30px;
  align-items: center;
}

.productsContainer {
  text-align: left;
  margin-left: 20px;
  margin-right: 20px;

}

.productTitle {
  text-align: left;
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 10px;
}

.newProdImage {
  width: 100px;
  height: 75px;
}

.productQuantityContainer {
  padding-bottom: 10px;
  padding-top: 10px;
}

.addNewColorContainer {
  text-align: left;
  
  padding-top: 20px;
  margin-left: 20px;
}

.sizeArrayButtonContainer {
  padding-top: 10px;
 display: flex;
 gap: 10px;
}

.editImageContainer {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-bottom: 10px;
}

.editColorSubmit {
padding-top: 10px;
}

.editNewSizeButtonContainer {
 padding-top: 10px;
}

.colorText {
  padding-top: 25px;
}